<mat-nav-list>

  <mat-divider></mat-divider>

 <a mat-list-item  routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
  <mat-divider></mat-divider>

 <h1 matSubheader>Tickets</h1>
  <a mat-list-item  routerLinkActive="list-item-active" routerLink="/view">View Tickets</a>
  <a mat-list-item  routerLinkActive="list-item-active" routerLink="/edit">Edit Tickets</a>

 <mat-divider></mat-divider>
 <a mat-list-item  routerLinkActive="list-item-active" routerLink="/chart">Charts</a>


 </mat-nav-list>

